<main role="main" class="container mt-3">
  <nav class="navbar navbar-expand-lg navbar-dark bg-custom-blue">
    <a class="navbar-brand" href="#">{{ (currentQuestionnaireForm$ | async)?.name }}</a>
  </nav>
  <div class="container border border-dark pt-3 pb-3">
    <div>
      <p>
        {{ (currentQuestionnaireForm$ | async)?.description }}
      </p>
    </div>
    <form (ngSubmit)="onQuestionnaireFormSubmit()" *ngIf="questionnaireForm" [formGroup]="questionnaireForm">
      <div *ngFor="let section of formSections$ | async">
        <h4 class="pt-3">
        {{section.name}}
      </h4>
        <p class="text-justify">
        {{section.description}}
       </p>
        <div *ngFor="let question of section.fields" >
          <div [ngSwitch]="question.type">
            <div *ngSwitchCase="'text'">
              <mat-form-field>
                <input matInput [placeholder]="question.label" [formControlName]="question.key" [id]="question.key">
              </mat-form-field>
            </div> 
            <div *ngSwitchCase="'textarea'">
              <mat-form-field>
                <textarea matInput [placeholder]="question.label" [formControlName]="question.key" [id]="question.key"></textarea>
              </mat-form-field>
            </div>
            <div *ngSwitchCase="'datetime'">
              <mat-form-field>
                <input matInput [matDatepicker]="picker" [placeholder]="question.label" [formControlName]="question.key" [id]="question.key">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <div *ngSwitchCase="'checkbox'">
              <mat-checkbox [formControlName]="question.key" [id]="question.key">{{question.label}}</mat-checkbox>
            </div>
          </div>
        </div>
      </div>
      <div class="text-right">
        <button mat-button mat-raised-button color="primary" type="submit">Save</button>
      </div>
    </form>
  </div>
</main>