.custom-alert{
    width: 400px;
    top: 20px;
    right: 10px;
    position: absolute;
}
.bg-custom-blue{
    background-color: #243667;
  }

  .mat-list-base .mat-list-item .mat-list-icon{
    color: #243667;
  }