<div class="lds-ripple" *ngIf="appLoading$ | async">
  <div></div>
  <div></div>
</div>
<div>hello there</div>

<div class="container">

  <div id="signupbox" style=" margin-top:50px" class="mainbox">
    <div class="panel panel-info">
      <mat-toolbar color="primary">
        <mat-toolbar-row class="border border-white">
          <span>Medical Director Questionnaire</span>
          <mat-icon class="example-icon right">keyboard_arrow_right</mat-icon>
        </mat-toolbar-row>

        <mat-toolbar-row class="border border-white">
          <span>Medical Director Questionnaire</span>
          <span class="example-spacer"></span>
          <mat-icon class="example-icon right">keyboard_arrow_right</mat-icon>
        </mat-toolbar-row>

        <mat-toolbar-row class="border border-white"> 
          <span>Medical Director Questionnaire</span>
          <span class="example-spacer"></span>
          <mat-icon class="example-icon">keyboard_arrow_right</mat-icon>
        </mat-toolbar-row>
      </mat-toolbar>
    </div>
  </div>
</div>
