<div class="mock-header">
  <img height="72" src="assets/header.png" >
</div>
<div>
  <div class="column column-a">
    <img height="47" src="assets/home.png" >
  </div>
  <div class="column column-b">
    <div class="tasks">
      <img height="308" src="assets/notifications.png" >
      <a [routerLink]="['questionnaire/sso']" target="_blank" ><img height="128" src="assets/questionnaire.png" ></a>
    </div>
    <div class="app-containner">
      <img height="195" src="assets/apps.png" >
    </div>
  </div>
  <div class="column column-c">
    <div class="hub-header">
        <img height="48" src="assets/communications.png" >
    </div>
  </div>
</div>