<main role="main" class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">SSO Connection</a>
  </nav>

  <div class="container border border-dark">
    <div class="container">
      <br><br><br>
      <div class="d-flex justify-content-around">
        <mat-spinner></mat-spinner>
      </div>
      <br>
      <div class="row justify-content-around">
        <label for="">Enabling Single Sign-on...</label>
      </div>
      <br><br><br>
    </div>
  </div>
</main>